<article>
  <div class="post-content mt-0">
    <h1 class="post-title mb-2">==title==</h1>

    <div class="col-5 mb-30">
      <div class="post-meta d-flex justify-content-between align-items-center">
        <span class="post-author d-flex">By ==author-name==</span>
        <i class="fa-solid fa-circle d-flex" aria-hidden="true"></i>
        <span class="post-date d-flex">==formatted-date==</span>
      </div>
    </div>
  </div>

  ==body==
</article>

<section id="post-meta">
  <span id="title">==title==</span>
  <div id="thumbnail">==thumbnail==</div>
  <span id="metaImage">==metaImage==</span>
  <span id="post-date">==raw-post-date==</span>
  <span id="excerpt">==excerpt==</span>
  <span id="tags">==tags==</span>
  <section id="post-author">
    <span id="name">==author-name==</span>
    <span id="url">==author-url==</span>
  </section>
</section>
