<!-- ##### Post Details Area Start ##### -->
<section class="post-details-area mb-80">
    <div id="post-container" class="container">
        <div class="row">
            <div class="col-12">
                <div id="post-thumbnail" class="post-details-thumb mb-50"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <div class="blog-content">
                        <div id="post-inner" class="line-numbers"></div>

                        <div id="post-tags" class="post-tags mt-30">
                            <ul>
                                <li id="tag-delete"><a href="https://github.com/Eonasdan/static-site-generator/issues/22">This gets deleted</a></li>
                            </ul>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Comments</h4>
                                <div class="line"></div>
                            </div>

                            [use gicus or some other comment system]
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">
                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget p-0 author-widget">
                        <div class="p-4">
                            <img class="author-avatar" src="https://placekitten.com/120/120" alt="" width="120"
                                 height="120"/>
                            <span class="author-name">[REPLACEME]</span>
                            <div class="author-social-info">
                                <a href="[REPLACEME]" target="_blank" rel="noopener"
                                   title="Find me on Twitter"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                                <a href="[REPLACEME]" target="_blank" rel="noopener"
                                   title="Find me on GitHub"><i class="fa-brands fa-github" aria-hidden="true"></i></a>
                                <a href="[REPLACEME]" target="_blank" rel="noopener"
                                   title="Find me on Twitch"><i class="fa-brands fa-twitch" aria-hidden="true"></i></a>
                            </div>
                            <p>[REPLACEME]</p>
                        </div>
                    </div>

                    <script async type="text/javascript"
                            src="https://cdn.carbonads.com/carbon.js?serve=CESDVK3I&placement=eonasdancom"
                            id="_carbonads_js"></script>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Post Details Area End ##### -->
