<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="REPLACEME">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>REPLACEME</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static-site-generator/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static-site-generator/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static-site-generator/favicon-16x16.png">
    <link rel="manifest" href="/static-site-generator/site.webmanifest">
    <link rel="mask-icon" href="/static-site-generator/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta class="metaTitle" name="title" content="REPLACEME"/>
    <meta class="metaDescription" name="description" content="REPLACEME"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article"/>
    <meta class="metaUrl" property="og:url" content="REPLACEME"/>
    <meta class="metaTitle" property="og:title" content="REPLACEME"/>
    <meta class="metaDescription" property="og:description" content="REPLACEME"/>
    <meta class="metaImage" property="og:image" content=""/>

    <meta class="metaPublishedTime" property="article:published_time" content=""/>
    <meta class="metaModifiedTime" property="article:modified_time" content=""/>
    <meta class="metaTag" property="article:tag" content=""/>
    <meta property="article:author" content="REPLACEME"/>
    <meta property="article:section" content="REPLACEME"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:site" content="REPLACEME"/>
    <meta property="twitter:creator" content="REPLACEME"/>
    <meta class="metaUrl" property="twitter:url" content="REPLACEME"/>
    <meta class="metaTitle" property="twitter:title" content=""/>
    <meta class="metaDescription" property="twitter:description" content="REPLACEME"/>
    <meta class="metaImage" property="twitter:image" content=""/>

    <link rel="stylesheet" href="/static-site-generator/css/style.min.css"/>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/static-site-generator/">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/static-site-generator/">Home</a>
                </li>
            </ul>
            <form method="get" action="/static-site-generator/">
                <label class="sr-only" for="search">Search</label>
                <input type="search" name="search" id="search" placeholder="Search..."/>
                <button type="submit" class="btn" title="search" aria-label="Search"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<div id="mainContent">

</div>
<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa-solid fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa-solid fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa-solid fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; REPLACEME 2020</p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
</script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
        integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw=="
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha512-M5KW3ztuIICmVIhjSqXe01oV2bpe248gOxqmlcYrEzAvws7Pw3z6BK0iGbrwvdrUQUhi3eXgtxp5I8PDo9YfjQ=="
        crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/solid.min.js" integrity="sha512-wabaor0DW08KSK5TQlRIyYOpDrAfJxl5J0FRzH0dNNhGJbeUpHaNj7up3Kr2Bwz/abLvVcJvDrJL+RLFcyGIkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/brands.min.js" integrity="sha512-oPuIMrT4JN6Cw359VQkuI0OPn1reFOKJm1YUOjXxgIzMmNMY7g4jenNcJdYcF3dt90WyNajzivr3vZFSzgqLow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/fontawesome.min.js" integrity="sha512-PoFg70xtc+rAkD9xsjaZwIMkhkgbl1TkoaRrgucfsct7SVy9KvTj5LtECit+ZjQ3ts+7xWzgfHOGzdolfWEgrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/static-site-generator/js/bundle.min.js"></script>
</body>
</html>