<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your Blog">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Your Blog</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta class="metaTitle" name="title" content="Your Blog"/>
    <meta class="metaDescription" name="description" content="Your Blog"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article"/>
    <meta class="metaUrl" property="og:url" content="[REPLACEME]"/>
    <meta class="metaTitle" property="og:title" content="Your Blog"/>
    <meta class="metaDescription" property="og:description" content="Your Blog"/>
    <meta class="metaImage" property="og:image" content=""/>

    <meta class="metaPublishedTime" property="article:published_time" content=""/>
    <meta class="metaModifiedTime" property="article:modified_time" content=""/>
    <meta class="metaTag" property="article:tag" content=""/>
    <meta property="article:author" content="[REPLACEME]"/>
    <meta property="article:section" content="Technology"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:site" content="[REPLACEME]"/>
    <meta property="twitter:creator" content="[REPLACEME]"/>
    <meta class="metaUrl" property="twitter:url" content="[REPLACEME]"/>
    <meta class="metaTitle" property="twitter:title" content=""/>
    <meta class="metaDescription" property="twitter:description"
          content="Your Blog"/>
    <meta class="metaImage" property="twitter:image" content=""/>
    <link rel="stylesheet" href="/css/style.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco-navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Your Blog</a>
        <div class="top-meta-data d-flex align-items-center justify-content-end">
            <div class="top-social-info">
                <a href="[REPLACEME]" target="_blank" rel="noopener" title="Find me on Twitter">
                    <i class="fa-brands fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
                <a href="[REPLACEME]" target="_blank" rel="noopener" title="Find me on GitHub">
                    <i class="fa-brands fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="[REPLACEME]" target="_blank" rel="noopener" title="Find me on Twitch">
                    <i class="fa-brands fa-twitch fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div class="top-search-area">
                <form method="get" action="/">
                    <label class="sr-only" for="search">Search</label>
                    <input type="search" name="search" id="search" placeholder="Search..."/>
                    <button type="submit" class="btn" title="search" aria-label="Search">
                        <i class="fa-solid fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

<div id="mainContent">

</div>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/brands.min.js" integrity="sha512-KGeeDLRAGeJZYsq3J/4s/X6eZyaxTAlScSN2b7z/H/r2MBZ3pAg4T52SzavEJa2Uthmll5HMhvRaLeuxT76EVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/solid.min.js" integrity="sha512-C92U8X5fKxCN7C6A/AttDsqXQiB7gxwvg/9JCxcqR6KV+F0nvMBwL4wuQc+PwCfQGfazIe7Cm5g0VaHaoZ/BOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js" integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-javascript.min.js" integrity="sha512-3oavHcAYV/4pmn+iDuax6ru7dpjKnd+21+SzCQrYdTiYDncloL7QJ3qYvsA9JU0p7ZQjB+DizGeWMm2sUrCzSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-typescript.min.js" integrity="sha512-N+kq7boI2tzrLEq2oqRGL05eQBPLET0/hPA6/BRRxdLcuZhUS74/J5upuVdWxLPiQHoTZtMQVGQcumxAVJl3gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script defer>
    kofiWidgetOverlay.draw('eonasdan', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#323842',
        'floating-chat.donateButton.text-color': '#fff'
    });
</script>
<script src="/js/bundle.min.js"></script>
<link rel="stylesheet" href="/css/carbon.css"/>
<!--<script src="https://khan.github.io/tota11y/dist/tota11y.min.js"></script>-->
</body>
</html>
